In [4]:
import pandas as pd
import numpy as np

In [5]:
team_data = pd.read_csv( 'teams_stats.csv', delimiter=',', dtype = { 'Year': str } )

Удаляем записи, в которых год - NaN

In [6]:
team_data = team_data[ pd.notnull( team_data[ 'Year' ] ) ]

Группируем записи по годам и считаем кол-во уникальных команд

In [7]:
unique_teams_count = team_data.groupby( [ 'Year' ] )[ 'Tm' ].nunique()

Создаём красивый датафрейм

In [13]:
df = pd.DataFrame(unique_teams_count).reset_index()
df.columns = ['Year', 'Unique teams count']
df

    Year  Unique teams count
0   1950                  18
1   1951                  12
2   1952                  11
3   1953                  11
4   1954                  10
5   1955                  10
6   1956                   9
7   1957                   9
8   1958                   9
9   1959                   9
10  1960                   9
11  1961                   9
12  1962                  10
13  1963                  10
14  1964                  10
15  1965                  10
16  1966                  10
17  1967                  11
18  1968                  13
19  1969                  15
20  1970                  15
21  1971                  18
22  1972                  18
23  1973                  18
24  1974                  18
25  1975                  19
26  1976                  19
27  1977                  23
28  1978                  23
29  1979                  23
..   ...                 ...
38  1988                  24
39  1989                  26
40  1990                  28
41  1991                  28
42  1992                  28
43  1993                  28
44  1994                  28
45  1995                  28
46  1996                  30
47  1997                  30
48  1998                  30
49  1999                  30
50  2000                  30
51  2001                  30
52  2002                  30
53  2003                  30
54  2004                  30
55  2005                  31
56  2006                  31
57  2007                  31
58  2008                  31
59  2009                  31
60  2010                  31
61  2011                  31
62  2012                  31
63  2013                  31
64  2014                  31
65  2015                  31
66  2016                  31
67  2017                  31

[68 rows x 2 columns]